/* main container styles */
#container {
  display: flex; 
  height: 100vh; /* Container fills all window */
  margin-top: 2%;
  
}

/*left container styles*/
#sectionLeft {
  position: absolute;
  left: 0;
  transition: transform 0.7s ease;
  width: 10%; 
  background-color: #5c6977; /* Color de fondo para visualización (opcional) */
  color:white;
  z-index: 20;
}

#sectionLeft > .p-listbox {
  background-color: #007bff; 
  color: white; 
}

#sectionLeft .p-listbox .p-listbox-item {
  background-color: #007bff; /* Fondo azul para cada ítem */
  color: white; /* Texto blanco para cada ítem */
}

#sectionLeft .p-listbox .p-listbox-item:hover {
  background-color: #0056b3; /* Fondo azul oscuro al pasar el mouse */
}

.hidden{
  transform: translateX(-160%);
}
/* right container styles */
#sectionRight {
  flex: 1; /* Ocupa el resto del espacio disponible */
  background-color: #f5f2f2; /* Color de fondo para visualización (opcional) */
  animation: slideInFromBottom 1s ease-out  forwards;
}

#pListBox {
  margin-top: 2%;
background-color: #4e4c4c;
color: white;
}

#wineName {
  color: blue;
  font-size: x-large;
}

.prediction-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap:1%;
}

.prediction-bar > div {
  display: flex;
  align-items: center;
}

.prediction-bar .left-content {
  flex-grow: 1;
  text-align: left; 
}

.prediction-bar p-button {
  margin-left: auto; 
}

.prediction-bar p-button:hover{
  background-color: rgb(158, 158, 158);
  
}

.left-content{
  display: flex;
  flex-direction: column;
}


/*Charts*/
.charts-container{
  margin-top: 1%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charts-button{
  margin-left: 2%;
  display:flex;
  gap:10%;
}

/*Colors of quality column*/
.red-class {
  background-color: rgb(222, 76, 76);
  color: white;
  font-weight: bold; 
}

.blue-class {
  color: white;
  background-color: rgb(84, 84, 210);
  font-weight: bold;
}

.green-class {
  color: white;
 background-color: rgb(107, 208, 107);
  font-weight: bold;
}

td{
  text-align: center;
}
p-chart {
  background-color: #121212; 
  border-radius: 8px;
  height: 50%;
  
}
.chart{
  width: 50%;
  height: 30%;
  
}


/*Action buttons*/
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit; /* Heredar el color del icono */
}

.icon-button:focus {
  outline: none; /* Quitar el borde de enfoque */
}


/*Animation from bottom*/
@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*actions*/
:host ::ng-deep {
  .speeddial-linear-demo {
      .p-speeddial-direction-up {
          left: calc(50% - 2rem);
          bottom: 0;
      }

      .p-speeddial-direction-down {
          left: calc(50% - 2rem);
          top: 0;
      }

      .p-speeddial-direction-left {
          right: 0;
          top: calc(50% - 2rem);
      }

      .p-speeddial-direction-right {
          left: 0;
          top: calc(50% - 2rem);
      }
  }
}

.ia-column{
  background-color: rgb(113, 196, 154);
}


.options {
  display: flex;

  align-items: flex-start; /* Alinea el dropdown arriba */

  min-height: 50px; /* Altura mínima */
}


/*Charts with checkboxes options*/

.container-chart {
  display: flex;
  align-items: flex-start; /* Alinea los checkboxes arriba */
  gap: 2%;
  padding: 20px;
  
}

/* Estilo de la columna izquierda (Checkboxes) */
.checkboxes-container {
  width: 250px; /* Ancho fijo */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Checkboxes alineados a la izquierda */
  background: #f6f2f2;
  border: 2px solid #7b8da1;
  border-radius: 12px;
  padding: 20px;
  transition: box-shadow 0.3s ease; /* Transición suave para el efecto de sombra */
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.7);
}

/* Espaciado entre checkboxes */
.checkboxes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
/* Fijo para evitar que se desplace con el scroll */
}

.checkboxes-container p-checkbox {
  transform: scale(1.1);
}

.checkboxes-container:hover {
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.7);
}

/* Contenedor de las gráficas (derecha) */
.chartOption-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr)); /* Ajusta el número de columnas según el espacio disponible */
  /* Asegura que las gráficas se muestren en vertical */
  gap: 20px; /* Espaciado entre las gráficas */
  width: calc(80%); /* Ajuste dinámico */
}

/* Estilos individuales de cada gráfica */
.chartOption {
  width: 100%;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  text-align: center;
}

/*Calendar*/
.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 70%;
  height: cal(100vh - 20%); /* ocupa toda la altura de la ventana */
  box-sizing: border-box;
  overflow: hidden;
}

::ng-deep .fc {
  width:80%;
  max-width: 70%;
  height: auto;
}

::ng-deep .fc-view-harness {
  min-height: 50vh;
}

::ng-deep .fc-daygrid-body {
  height: auto !important;
}

::ng-deep .fc-scrollgrid {
  overflow: visible !important;
}

