
#container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 2vh;
    margin-left: 4%;
    
}

h2{
    margin-left: 24%;
}

#container img{
    height:78%;
}



#properties-form{
    margin-left: 14%;
    margin-right: 16%;
}

/*fields Form*/
#form{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:3%;
    margin-left: 25%;
}
#submit-button{
    margin-top: 8%;
    margin-left: 25%;
}

.analysis-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}