<p-toast [baseZIndex]="10000" [autoZIndex]="true" position="top-right" [life]="3000"></p-toast>
<p-confirmDialog></p-confirmDialog>

<!--Header-->
<div class="header">
    <div class="title-container">
        <h1>{{ user?.name }} Wine List</h1>
    </div>
    <p-button label="Create Wine" [rounded]="true" (onClick)="showDialog()" />
    <hr>
</div>
<hr>

<div class="table-container">

    <!--Table Body -->

    <p-table [value]="wines" class="table" [sortField]="'quality'" [sortOrder]="-1" [paginator]="true" [rows]="5">

        <!-----------Table Rows-------------->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="dateCreated" style="width:16%">
                    Date of creation <p-sortIcon field="dateCreated" />
                </th>
                <th pSortableColumn="name" style="width:16%">
                    Name <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="quality" style="width:16%">
                    Latest Quality Predicted <p-sortIcon field="quality" />
                </th>
                <th pSortableColumn="quantity" style="width:10%">
                    Actions
                </th>
            </tr>
        </ng-template>

        <!-------Table Columns-------->
        <ng-template pTemplate="body" let-wine id="columnsTemplate">
            <tr>
                <td>{{ wine.dateCreated | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>{{ wine.name }}</td>
                <td>
                    @if(wine.quality){
                    <p-rating [(ngModel)]="wine.quality" [cancel]="false" [stars]="8" [disabled]="true"></p-rating>
                    }@else{
                    <b>No Data Predictions yet</b>
                    }
                </td>
                <!----------Button delete----------->
                <td class="actions">

                    <p-button label="Summary" [rounded]="true" severity="success" class="actions"
                        (onClick)="goToSummary(wine.id)" />
                    <p-button label="Measure" [rounded]="true" severity="info" class="actions"
                        (onClick)="showDialogMeasure(wine.id)" />
                    <p-button label="Delete" [rounded]="true" severity="danger" class="actions"
                        (click)="deleteWine(wine.id)" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <br>
            <div id="noData">
                <b id="noData">No data</b>
                <i class="pi-database" style="font-size: 2rem"></i>
            </div>

        </ng-template>
        <div class="card flex justify-center">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="1" [rows]="4" [totalRecords]="wines.length"
                [rowsPerPageOptions]="[10, 20, 30]" />
        </div>
    </p-table>
</div>



<!----------------------Dialog to Create Wine-------------->
<p-dialog header="Create Wine" [draggable]="true" [resizable]="true" [modal]="true"
    [(visible)]="createWineDialogVisible" [style]="{ width: '25rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <p for="Wine Name">Wine name</p>
        <p-floatLabel position="left">
            <input type="text" pInputText [(ngModel)]="wineToSave.name" maxlength="25" minlength="3" #wineName="ngModel"
                required />
        </p-floatLabel>
        <div *ngIf="wineName.invalid && wineName.touched" class="p-error mt-1">
            <div *ngIf="wineName.errors?.['required']">This field is required.</div>
            <div *ngIf="wineName.errors?.['minlength']">Minimum length is 3 characters.</div>
            <div class="text-danger" *ngIf="wineToSave.name.length > 24">
                25 characters maximun
            </div>
        </div>

    </div><br>
    <div class="flex align-items-center gap-3 mb-5">
        <p-calendar [(ngModel)]="date" [disabled]="true" />
    </div><br>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="createWineDialogVisible = false" />
        <p-button label="Save" (onClick)="createWine()" />
    </div>
</p-dialog>


<!----------------------Dialog to Create Measure-------------->
<p-dialog header="Create Measure" [draggable]="true" [resizable]="true" [modal]="true"
    [(visible)]="createMeasureDialogVisible" [style]="{ width: '30rem', height: '35rem' }">

    <div class="flex flex-column gap-2 mb-3">
        <label for="desc">Measure Description</label><br><br>
        <p-floatLabel>
            <input id="desc" type="text" pInputText [(ngModel)]="measureDescription" name="description" minlength="4"
                maxlength="100" #descModel="ngModel" required />

        </p-floatLabel>

        <div *ngIf="descModel.invalid && descModel.touched" class="p-error">
            <div *ngIf="descModel.errors?.['required']">This field is required.</div>
            <div *ngIf="descModel.errors?.['minlength']">Minimum 4 characters.</div>
            <div class="text-danger" *ngIf="measureDescription?.length > 100">
                Maximum 100 characters.
            </div>
        </div>
    </div>
    <br><br>
    <div class="flex flex-column gap-2 mb-5">
        <label for="calendar">Measure Date</label><br>
        <p-calendar [(ngModel)]="measureDate" inputId="calendar" />
    </div>
    <br><br>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="createMeasureDialogVisible = false" />
        <p-button label="Save" (onClick)="createMeasure()" [disabled]="descModel.invalid" />
    </div>

</p-dialog>