<p-toast></p-toast>
<div id="chatAISection">
  <div class="card">
    <p-table [value]="predictionList" [tableStyle]="{'min-width': '60rem'}">


      <ng-template pTemplate="header">
        <tr>
          <th>Date Created</th>
          <th>Fixed Acidity</th>
          <th>Citric Acidity</th>
          <th>Free Sulfur Dioxide</th>
          <th>Residual Sugar</th>
          <th>Sulphates</th>
          <th>Ph</th>
          <th>Chlorides</th>
          <th>Density</th>
          <th>Alcohol</th>
          <th>Volatile Acidity</th>
          <th>Quality</th>

        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-prediction>
        <tr>
          <td>{{ prediction.dateCreated | date:'dd/MM/YYYY HH:mm'}}</td>

          <td>{{prediction.fixedAcidity}}&nbsp;
            @if(prediction.fixedAcidity < 5 || prediction.fixedAcidity> 10){
              <i class="pi pi-info-circle" pTooltip="Warning!!Values usually are between 5 and 10" tooltipPosition="top"
                style="color: orange;"></i>
              }
          </td>
          <td>{{prediction.citricAcid}}&nbsp;
            @if(prediction.citricAcid < 0 || prediction.citricAcid> 0.5){
              <i class="pi pi-info-circle" pTooltip="Warning!!Values usually are between 0 and 0.5"
                tooltipPosition="top" style="color: orange;"></i>
              }
          </td>

          <td>{{prediction.residualSugar}}&nbsp;
            @if(prediction.residualSugar < 1 || prediction.residualSugar> 25){
              <i class="pi pi-info-circle" pTooltip="Warning!!Values usually are between 1 and 25" tooltipPosition="top"
                style="color: orange;"></i>
              }
          </td>
          <td>{{prediction.sulphates}}&nbsp;
            @if(prediction.sulphates < 0.1 || prediction.sulphates> 0.8){
              <i class="pi pi-info-circle" pTooltip="Warning!!Values usually are between 0.1 and 0.7"
                tooltipPosition="top" style="color: orange;"></i>
              }
          </td>
          <td>{{prediction.totalSulfureDioxide}}&nbsp;
            @if(prediction.totalSulfureDioxide < 50 || prediction.totalSulfureDioxide> 270){
              <i class="pi pi-info-circle" pTooltip="Warning!!Values usually are between 50 and 270"
                tooltipPosition="top" style="color: orange;"></i>
              }
          </td>
          <td>{{prediction.ph}}&nbsp;
            @if(prediction.ph < 3 || prediction.ph> 4){
              <i class="pi pi-info-circle" pTooltip="Warning!!Values usually are between 3 and 4" tooltipPosition="top"
                style="color: orange;"></i>
              }
          </td>
          <td>{{prediction.chlorides}}&nbsp;
            @if(prediction.chlorides < 0 || prediction.chlorides> 0.1){
              <i class="pi pi-info-circle" pTooltip="Warning!!Values usually are between 3 and 4" tooltipPosition="top"
                style="color: orange;"></i>
              }
          </td>
          <td>{{prediction.density}}&nbsp;
            @if(prediction.density < 0.9 || prediction.density> 1){
              <i class="pi pi-info-circle" pTooltip="Warning!!Values usually are between 0.9 and 1"
                tooltipPosition="top" style="color: orange;"></i>
              }
          </td>
          <td>{{prediction.alcohol}}&nbsp;
            @if(prediction.alcohol < 8 || prediction.alcohol> 13){
              <i class="pi pi-info-circle" pTooltip="Warning!!Values usually are between 8 and 12" tooltipPosition="top"
                style="color: orange;"></i>
              }
          </td>
          <td>{{prediction.volatileAcidity}}&nbsp;
            @if(prediction.volatileAcidity < 0.5 || prediction.volatileAcidity> 0.7){
              <i class="pi pi-info-circle" pTooltip="Warning!!Values usually are between 0.5 and 0.7"
                tooltipPosition="top" style="color: orange;"></i>
              }
          </td>

          <td [ngClass]="{'red-class': prediction.quality < 6, 'blue-class': prediction.quality === 6, 
          'green-class': prediction.quality > 6}">
            {{prediction.quality}}</td>
          <td>

        </tr>
      </ng-template>


    </p-table>
  </div>
</div>

<div class="main_container">

  <!-- Contenedor de Botones -->


  <div class="buttons_container">
    <h2>Select one property to improve this wine</h2><br><br>
    <p-listbox [options]="filteredItems" [(ngModel)]="selectedProperty" class="w-full md:w-56" 
    /><br><br>
    <div>
      <p-button (onClick)="askAI(selectedProperty)">Ask AI</p-button>
    </div>
  </div>



  <!-- Contenedor del Chat -->
  <div class="chat_window">
    <div class="top_menu">

      <div class="title">CHAT WITH AI</div>
    </div>
    <ul class="messages">
      <li *ngFor="let item of messageListAllMessages" [ngClass]="item.user === 'IA' ? 'message left' : 'message right'">
        <div class="avatar"></div>
        <div class="text_wrapper">
          <div class="text">{{ item.message }}</div>
        </div>
      </li>
    </ul>
    <div class="bottom_wrapper clearfix">
      <div class="message_input_wrapper">
        <input class="message_input" placeholder="Message..." [(ngModel)]="messageInput" (keydown.enter)="sendMessage()" />

      </div>
      <div class="send_message" (click)="sendMessage()">
        <div class="icon"></div>
        <div class="text">Send</div>
      </div>
    </div>
  </div>

</div>