@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Protest+Guerrilla&display=swap');
i{
    color: white;
    font-size:x-large;
}
.flex{
   margin-right: auto;
  
}
.userName{
    color:white;
}
.avatar{
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
}

#title-start{
    color:rgb(247, 246, 246);
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}
p-toolbar{
animation: slideInFromBottom 6s ease-out  forwards;
}

.logout-container {
    display: flex;
    align-items: center;
}
.userName {
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

/*botones navbar activos*/
.active-link {
  position: relative;
  font-weight: bold;
  color: white;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -6px; /* distancia debajo del texto */
  left: 50%;
  transform: translateX(-50%);
  width: 70%; /* ajusta el ancho de la línea según tu gusto */
  height: 3px;
  background: linear-gradient(90deg, #00c6ff, #0072ff, #00c6ff);
  border-radius: 5px;
  background-size: 200% auto;
  animation: animateLine 3s linear infinite;
}


@keyframes animateLine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}



/*Animation from bottom*/
@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}