body {
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #5e0b0b, #f7e381);
    padding: 10px 20px;
}
.navbar img {
    height: 40px;
}
.navbar .title {
    color: white;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
}
.navbar button {
    background-color: #585c58;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.navbar button:hover {
    background-color: #929892;
}

